__pycache__/
checkpoints/
logs/
dataset/
results/
outputs/
lightning_logs/

/PatchTST_supervised/result.txt
/PatchTST_supervised/test_results/

*.csv
*.log

*.png
/logs
/test_results
results_forecast_csv/